<!DOCTYPE html>
<html>
{{>head title=this.title subpage='' }}

<body>
    {{>header  title=this.title}}

    <main>
        <h1>{{title}}</h1>
        <div class="container" >
            <p>
                <img width=600px src="shopping.jpg" />
                <h2 class="display-3">ATN_SHOP !</h2>
			    <p>
                    ATN is a Vietnamese company which is selling toys to teenagers 
                    in many provinces all over Vietnam. The company has the revenue 
                    over 700.000 dollars/year. 
                </p>
			  <p><a class="btn btn-primary btn-lg" href="#" role="button">Read more »</a></p>
            </p>
        </div>
    </main>
    

    {{>footer}}
</body>

</html>